# Виртуальное окружение
venv/
env/
.env/
myenv/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static_root/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Database
*.sqlite3
*.db

# Environment variables
.env
.env.local
.env.production